doctype html
html
    head
        title About
    body
        h1 About Us
        p We are a company dedicated to providing excellent services.
        p Feel free to explore our website and learn more about what we offer.